@charset "UTF-8";
/**
 * 布局
 */
.layout{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    min-width: 1400px;
    min-height: 600px;
    overflow: auto;
    .m-content{
        position: absolute;
        top: 48px;
        left: 200px;
        bottom: 0;
        right: 0;
        overflow: auto;
        background: $bg-content;
    }
}
