@charset "UTF-8";
/**
 * 布局
 */
.layout{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    min-width: $minWidth;
    min-height: $minHeight;
    overflow: auto;
    .m-content{
        position: absolute;
        top: $headerHeight;
        left: $navWidth;
        bottom: 0;
        right: 0;
        overflow: auto;
        background: $bg-content;
    }
}
.data-content{
    position: absolute;
    top: $ctNavHeight;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
}
.u-breadcrumb{
    background: $white!important;
}
.ivu-btn{
    &:hover{
        color: $main;
        border-color: $main;
    }
    &-success{
        &:hover{
            color: $white;
        }
    }
}
